 {% extends 'base_shop.html' %}


{% block content %}
<div style="padding-inline: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin: auto;
    width: 35%;
    border: 3px solid #73AD21;">
    <h4>Dell product</h4>
     <hr align=left width="300px">
    <form method="post">
        <p>Product name:
            <input type="text" name="title"
                   placeholder="text"></input>
        </p>
        <p style=" text-align: right">
            <button  type="submit">Delete</button>
        </p>
    </form>
    </div>
{% endblock %}




