{% extends 'base_shop.html' %}

{% block content %}
{{ super() }}

        <div class="cotainer">
            <div class="panel">
                <img class="card_img" src="./img/img1.png" alt="">
                <div slass="card_discription"><a class=" card" href="../02.html">смартфони</a></div>
                <!-- <div >
                    <a class="card__btn" href="../02.html">Читати далі</a>
                </div>    -->
            </div>



        <div class="content">
            <img class="card_img" src="./img/img1.png" alt="">
            <div >
                <a class="card__btn" href="../02.html">Читати далі</a>
            </div>
        </div>




{% endblock %}